# Teaser 3022

**Sporty set**

There are 100 members of my sports club where we can play tennis, badminton, squash and table tennis (with table tennis being the least popular). Last week I reported to the secretary the numbers who participate in each of the four sports. The digits used overall in the four numbers were different and not zero.

The secretary wondered how many of the members were keen enough to play all four sports, but of course he was unable to work out that number from the four numbers I had given him. However, he used the four numbers to work out the minimum and the maximum possible numbers playing all four sports. His two answers were two-figure numbers, one being a multiple of the other.

**How many played table tennis?**

In [38]:

results = [] 
#looping through everything brute force
for i in range(100, 0, -1):
    for j in range(i - 1, 0, -1):
        for k in range(j - 1, 0, -1):
            for l in range(k - 1, 0 , -1):
                row = ([i, j, k, l])
                num_list = []
                for num in row:
                    num = str(num)
                    for digit in num:
                        num_list.append(digit)
                    if len(set(num_list)) == 8 and "0" not in set(num_list):
                        results.append([i, j, k, l])
results_sorted = []
for row in results:
    minimum = sum(row) - 300
    maximum = min((sum(row) - 100) / 3, row[3])
    if minimum >= 10  and maximum >= 10:
        line = []
        line.append(row)
        line.append(maximum)
        line.append(minimum)
        if maximum % minimum == 0:
            results_sorted.append(line)
print(results_sorted)

[[[94, 83, 71, 65], 65, 13], [[94, 81, 73, 65], 65, 13], [[93, 84, 71, 65], 65, 13], [[93, 81, 74, 65], 65, 13], [[91, 84, 73, 65], 65, 13], [[91, 83, 74, 65], 65, 13]]

The number of table tennis players is certainly 65, though the number of the other players is not certain